node_modules/
public/bower_components/

public/data/templates/

public/**/*.js
public/**/*.js.map

.vscode

server.js.map
server.js
dist/
SimulationManager/public/bower_components/
SimulationManager/public/cs/
ServerComponents/
*.js.map
public/data/keys/
public/data/layers/
public/data/resourceTypes/
public/data/backup/
test.js
*.geojson
CellCoverageSim/**/*.js
CloudSim/**/*.js
CommunicationSim/**/*.js
CriticalObjectSim/**/*.js
ElectricalNetworkSim/**/*.js
FloodSim/**/*.js
HazardousObjectSim/**/*.js
RoadSim/**/*.js
Helpers/**/*.js
SimulationManager/**/*.js
SimulationService/**/*.js
public/**/*.js
typings/**/*.*
**/tsconfig.json
Scripts/typings/
SimulationData/Scenarios/IJsselmonde/Flooding/ijsselmonde_p50/Superfluous/
SimulationData/Scenarios/IJsselmonde/Flooding/probability/Superfluous/025.asc
SimulationData/Scenarios/IJsselmonde/Flooding/probability/Superfluous/
public/data/api/attachments/
crowdtasker.js
SimulationData/Scenarios/Waterwolf/Flooding/Uitdammerdijk/backup/
